* {
  color: white;
}
.home-landing {
  padding-top: 250px;
  background: linear-gradient(rgba(0, 0, 0, 0.414), rgba(0, 0, 0, 0.414)),
    url("/assets/background.jpg");
  overflow: hidden;
  min-height: 800px;
  .name {
    margin-left: 200px;
    width: 700px;
    h1 {
      font-size: 12em;
      color: white;
      margin: 0;
      line-height: 80%;
    }
    .name-function {
      margin-left: 20px;
      .wrapper {
        display: flex;
        align-items: center;
      }
      h2 {
        font-size: 4em;
        color: white;
        margin: 0;
        margin-top: 10px;
        color: purple;
      }
      p {
        color: white;
        margin: 0;
        font-size: 1.6em;
      }
    }
  }
  nav { margin-top: 10px;
    a {
      margin-right: 15px;
    }
  }
}
.cursus{
  padding: 100px;
  // background: linear-gradient(rgba(0, 0, 0, 0.414), rgba(0, 0, 0, 0.414)),
  //   url("/assets/cursus.jpg");
  background: linear-gradient(#4d1092, #525a6c);
    min-height: 500px;
    .item{
      height: 200px;
    }
}