@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

*{
  font-family: "Montserrat", sans-serif;
}
body{
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
